#calculator{
    width:500px;
    height:500px;
    border: 1px solid black;
}
#top{
    margin-top:15px;
}
#numbers{
    padding: 0px 10px 0px 10px;
}

#display{
    width: 90%;
    padding-top: 10px;
    margin:auto;
    border: 1px solid black;
    height: 50px;
}
.clear{
    padding:15px;
}
.operand{
    padding:15px;
}
.operator{
    padding:15px;
}
#display h1{
    text-align: center;
}
