#calculator{
    width:50%;
    height:500px;
    border: 1px solid black;
}

#display{
    width: 60%;
    margin: auto;
    margin: 15px 0px 0px 15px;
    border: 1px solid black;
    height: 50px;
    float: left;
}

#clear{
    width:30%;
    margin: 15px 15px 0px 0px;
    float: right;
    padding: 15px;
}
#display h1{
    text-align: center;
}
#numbers{
    width:60%
}
#numbers button{
    margin: 15px;
    padding: 40px;
}